{%extends 'mainBundle::layout.html.twig'%}

{% block body -%}
    <h1>Liste des Salles</h1>
    
    <ul>
        <a href="{{ path('salle_new') }}" class='btn'>
               Ajouter une salle
        </a>
    </ul>

    <table class="table table=bordered">
        <thead>
            <tr>
              <!--  <th>Id</th> -->
                <th>Nom</th>
                <th>Description</th>
                <th>Capacite</th>
                <th>Image</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               <!-- <td><a href="{{ path('salle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>-->
                <td>{{ entity.nom }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.capacite }}</td>
					{% if entity.img is not null %}               
                <td><img src='{{entity.img.getWebPath  | imagine_filter('my_thumb')}}'/></td>
               {% else %}
               
               {% endif %} 
                <td>
                <ul>
                    <li>
                        <a href="{{ path('salle_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('salle_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                    <li>
                        <a href="{{ path('salle_delete', { 'id': entity.id }) }}">Supprimer</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
    
    {% block menu %}Salle{% endblock %}
